
.logo {
    width: 120px;
    height: 120px;
    margin-left: 30px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #10131A;
    color: #EFF0F2;
    padding-right: 30px;
    height: 100px;/* 
    padding-top: var(--nav-height - 50px); */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 20px;
    align-items: center;
    z-index: 1;
    transition: transform 0.3s;
}

.nav--hidden {
    transform: translateY(-100px);
}

nav .active {
    background-color: #EFF0F2;
    color: #1a202e;
    font-weight: bold;
    padding: 17px;
    border-radius: 10px;
    position: relative;
    text-decoration: none;
}

.middle-section li{
    margin-right: 50px;
}

.navlinks{
    position: relative;
    color: #EFF0F2;
    text-decoration: none;
}

.navlinks:hover{
    color: #EFF0F2;
}

.navlinks::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #EFF0F2;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.navlinks:hover::before {
    transform: scaleX(1);
}

.contact-btn{
    background-color: rgb(6, 140, 184);
    padding: 20px 30px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    margin-left: 250px;
    color: #EFF0F2;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: -20px;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: rgba(23, 58, 73, 0.549);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    margin-top: 30px;
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menue-btn {
    position: fixed;
    right: 0;
    top: 10px;
    display: none;
}

@media (max-width: 750px) {

    .logo {
        width: 25px;
        height: 25px;
    }

     nav {
        height: 50px;
    }

    .hideOnMObile {
      display: none;  
    }

    .menue-btn {
        display: block;
    }

    .contact-btn {
        padding: 15px 20px;
        margin-left: auto;
    }
}

@media (max-width: 1079px) and (min-width: 750px) {

    nav {
        font-size: 17px;
    }

    .middle-section li{
        margin-right: 20px;
    }
    
    .contact-btn{
        padding: 20px 30px;
        border-radius: 30px;
        font-weight: bold;
        font-size: 14px;
        margin-left: 100px;
        margin-right: 0;
    }
}