.main-section {
    display: flex;
    flex-direction: column;
}

body {
    background-color: #1a202e;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.logo {
    width: 120px;
    height: 120px;
    margin-left: 30px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #10131A;
    color: #EFF0F2;
    padding-right: 30px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    font-size: 20px;
    align-items: center;
    z-index: 1;
}

.middle-section li{
    margin-right: 50px;
}

.navlinks{
    position: relative;
    color: #EFF0F2;
    text-decoration: none;
}

.navlinks:hover{
    color: #EFF0F2;
}

.navlinks::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #EFF0F2;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.navlinks:hover::before {
    transform: scaleX(1);
}

.contact-btn{
    background-color: rgb(6, 140, 184);
    padding: 20px 30px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    margin-left: 250px;
    color: #EFF0F2;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: -20px;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: rgba(23, 58, 73, 0.549);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    margin-top: 30px;
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menue-btn {
    position: fixed;
    right: 0;
    top: 10px;
    display: none;
}

@media (max-width: 750px) {

    .logo {
        width: 25px;
        height: 25px;
    }

     nav {
        height: 50px;
    }

    .hideOnMObile {
      display: none;  
    }

    .menue-btn {
        display: block;
    }

    .contact-btn {
        padding: 15px 20px;
        margin-left: auto;
    }
}

@media (max-width: 1079px) and (min-width: 750px) {

    nav {
        font-size: 17px;
    }

    .middle-section li{
        margin-right: 20px;
    }
    
    .contact-btn{
        padding: 20px 30px;
        border-radius: 30px;
        font-weight: bold;
        font-size: 14px;
        margin-left: 100px;
        margin-right: 0;
    }
}

.hero-container {
    margin-top: 80px;
    background-image: linear-gradient(to left, rgb(3, 51, 67), rgb(0, 0, 0));
    color: #EFF0F2;
}

.hero-container h1 {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
}

.hero-container p {
    font-size: 18px;
    color: lightgray;
    margin-bottom: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discription {
    margin-left: 100px;
    width: 700px;
}

.developer {
    color:  rgb(19, 196, 255);
}

.hire-btn {
    background-color: rgb(6, 140, 184);
    padding: 15px 50px;
    border-radius: 30px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: #EFF0F2;
    margin-right: 25px;
    transition: background-image 0.5s;
    cursor: pointer;
}

.hire-btn:hover {
    background-image: linear-gradient(rgb(6, 140, 184), rgb(56, 193, 239));
}

.play-video-btn {
    background-color: transparent;
    padding: 15px 50px;
    border-radius: 30px;
    border: 1px solid rgb(11, 179, 234);
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: rgb(67, 208, 255);
    transition: background-image 0.5s;
    cursor: pointer;
}

.play-video-btn:hover {
    border: 2px solid rgb(76, 204, 247);
}

.image {
    margin-right: 60px;
    filter: grayscale(20%);
    filter: brightness(90%);
}

@media (max-width: 750px) {

    .hero-container {
        margin-top: 40px;
        padding-bottom: 50px;
        padding-top: 25px;
    }

    .hero-container h1 {
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    .hero-container p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .discription {
        margin-left: 40px;
    }

    .hire-btn {
        padding: 3px 10px;
        font-size: 13px;
        margin-right: 6px;
    }

    .play-video-btn {
        padding: 3px 10px;
        font-size: 13px;
    }

    .image {
        width: 150px;
        height: 150px;
        margin-left: 30px;
        margin-right: 20px;
    }
}

@media (max-width: 1079px) and (min-width: 750px) {

    .hero-container {
        margin-top: 60px;
        padding-bottom: 50px;
        padding-top: 25px;
    }

    .hero-container h1 {
        font-size: 42px;
        line-height: 42px;
        margin-bottom: 20px;
    }

    .hero-container p {
        font-size: 17px;
        margin-bottom: 20px;
    }

    .discription {
        margin-left: 65px;
    }

    .hire-btn {
        padding: 3px 10px;
        font-size: 13px;
        margin-right: 6px;
    }

    .play-video-btn {
        padding: 3px 10px;
        font-size: 13px;
    }

    .image {
        width: 300px;
        height: 350px;
        margin-left: 30px;
        margin-right: 60px;
    }
}

.services-discription {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.services-discription h1 {
    font-size: 60px;
    color: #EFF0F2;
}

.service-span {
    color:  rgb(19, 196, 255);
}

.services-discription p {
    color: lightgray;
    font-size: 18px;
}

.read-more-btn {
    background-color: rgb(6, 140, 184);
    padding: 15px 50px;
    border-radius: 30px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: #EFF0F2;
    margin-right: 25px;
    transition: background-image 0.5s;
    cursor: pointer;
}

.read-more-btn:hover {
    background-color: rgb(11, 182, 238);
}

.services {
    margin-top: 50px;
    background-color: transparent;
    color: black;
    display: flex;
} 

.service-box {
    display: flex;
    margin-right: 100px;
}

.service-name {
    width: 275px;
    height: 275px;
    background-color: transparent;
    color: lightgray;
    border: 1px solid rgb(0, 98, 131);
    border-radius: 8px;
    box-shadow: inset 0 100px 1000px rgba(22, 139, 175, 0.329);
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.service-name h2 {
    color:  rgb(77, 211, 255);
    margin: 0 0 8px 0;
}

.services-paragraph {
    margin: 0 15px 15px 15px;
}

.tier-two-service {
    margin-top: 80px;
}

.service-img {
    width: 130px;
    height: 130px;
}

.skill-section {
    background-image: linear-gradient(to top, rgb(3, 51, 67), rgb(0, 0, 0));
    display: grid;
    grid-template-columns: 750px 1fr;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 30px;
}

.skill-section h1 {
    color: #EFF0F2;
    font-size: 40px;
}

.skill-discription h2 {
    color:  rgb(77, 211, 255);
}

.skill-discription h3 {
    color: #EFF0F2;
}

.skill-discription p {
    color: lightgray;
    font-size: 18px;
}

.skill-discription {
    margin-left: 100px;
}

.skills_main{
    width: 80%;
    display: flex;
    flex-direction: column;
    grid-row-gap: 30px;
    grid-column-gap: 50px;
    color: #EFF0F2;
}

.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}

.skill_bar .info p:nth-child(2){
    font-weight: 500;
}

.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(182, 182, 182, 0.515);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}

.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color:  rgb(77, 211, 255);
    border-radius: 25px;
}

.skill_bar .bar .html{
    width: 90%;
    animation: html 2s;
}

@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}

.skill_bar .bar .css{
    width: 85%;
    animation: css 2s;
}

@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}

.skill_bar .bar .js{
    width: 80%;
    animation: js 2s;
}

@keyframes js {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}

.skill_bar .bar .react{
    width: 25%;
    animation: react 2s;
}

@keyframes react {
    0%{
        width: 0%;
    }100%{
        width: 25%;
    }
}

.skill_bar .bar .mongo{
    width: 40%;
    animation: mongo 2s;
}

@keyframes mongo {
    0%{
        width: 0%;
    }100%{
        width: 40%;
    }
}

.latest-project-section {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.project-discription {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-project-section h1 {
    font-size: 50px;
    color: #EFF0F2;
}

.latest-project-section span {
    color:  rgb(19, 196, 255);
}

.latest-project-section p {
    color: lightgray;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    width: 600px;
    font-size: 18px;
}

.project-btn {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.active-btn {
    background-color: rgb(6, 140, 184);
    padding: 15px 50px;
    border-radius: 30px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: #EFF0F2;
    margin-right: 25px;
    transition: background-image 0.5s;
    cursor: pointer;
}

.btn-title {
    background-color: transparent;
    padding: 15px 50px;
    border-radius: 30px;
    border: 1px solid rgb(11, 179, 234);
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    margin-right: 25px;
    color: rgb(67, 208, 255);
    transition: background-image 0.5s;
    cursor: pointer;
}

.projects-preview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.project {
    background-color: #EFF0F2;
    height: 220px;
    width: 400px;
    margin-right: 20px;
    margin-bottom: 25px;
    transition: opacity 0.5s;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.project-details {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.project-details:hover {
    opacity: 1;
}

.project-details h2 {
    color: white;
    margin-top: 2px;
    margin-bottom: 0;
}

.project-details p{
    font-size: 15px;
    color: #EFF0F2;
    margin-top: 4px;
    margin-bottom: 2px;
}

.hidden {
    display: none;
    pointer-events: none;
}

.seemore-btn {
    background-color: rgb(6, 140, 184);
    padding: 15px 50px;
    border-radius: 30px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: #EFF0F2;
    margin-right: 25px;
    transition: background-image 0.5s;
    cursor: pointer;
}

.article-section {
    margin-top: 80px;
    padding-bottom: 30px;
    background-image: linear-gradient(to bottom, rgb(3, 51, 67), rgb(0, 0, 0));
}

.article-discription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.article-discription h1 {
    font-size: 50px;
    color: #EFF0F2;
}

.article-discription span {
    color:  rgb(19, 196, 255);
}

.article-discription p {
    color: lightgray;
    font-size: 18px;
    width: 600px;
    text-align: center;
    margin-top: 0;
}

.article-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.article {
    background-color: transparent;
    color: lightgray;
    border: 1px solid rgb(0, 98, 131);
    border-radius: 8px;
    box-shadow: inset 0  -70px 1000px rgba(22, 139, 175, 0.329);
    height: 350px;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 25px;
    transition: opacity 0.5s;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    padding: 20px;
    cursor: pointer;
}

.article-img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    object-fit: cover;
}

.article-details {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25%;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

.article-details h2 {
    color: white;
    margin-top: 2px;
    margin-bottom: 0;
}

.article-details p{
    font-size: 15px;
    color: #EFF0F2;
    margin-top: 4px;
    margin-bottom: 2px;
}

.feedback-section {
    margin-top: 60px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback-discription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.feedback-discription h1 {
    font-size: 50px;
    color: #EFF0F2;
}

.feedback-discription span {
    color:  rgb(19, 196, 255);
}

.feedback-discription p {
    color: lightgray;
    font-size: 18px;
    width: 600px;
    text-align: center;
    margin-top: 0;
}

.feddback-container {
    width: 49%;
    position: relative;
}

.feddback-container i {
    height: 50px;
    width: 50px;
    background-image: linear-gradient(to top, rgb(7, 125, 119), rgb(100, 254, 249));
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    font-size: 25px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.feddback-container i:first-child {
    left: -22px;
}

.feddback-container i:last-child {
    right: -22px;
}

.feddback-message-container.dragging .feedback {
    cursor: grab;
    user-select: none;
}

.feddback-message-container.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.feddback-message-container.no-transition {
    scroll-behavior: auto;
}

.feddback-message-container {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.feddback-message-container::-webkit-scrollbar {
    display: none;
}

.feedback {
    scroll-snap-align: start;
    margin-top: 30px;
    width: 600px;
    background-color: transparent;
    color: lightgray;
    border: 2px solid rgb(0, 98, 131);
    border-radius: 8px;
    box-shadow: inset 0  70px 1000px rgba(22, 139, 175, 0.329);
/*     margin-right: 20px; */
    margin-bottom: 25px;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 65px;
    cursor: pointer;
    
}

.feedback-header {
    display: grid;
    grid-template-columns: 65px 1fr;
}

.feedback-header h3 {
    color: #EFF0F2;
    margin: 0;
}

.feedback-message h3,h5 {
    margin: 0;
}

.feedback-profile {
    width: 55px;
    height: 55px;
    border-radius: 27px;
    object-fit: cover;
}

.rating-img {
    height: 10px;
    margin: 0;
}

.feedback-message {
    margin-top: 15px;
    color: rgb(199, 197, 197);
}
